<section class="slider-item grid">
   
    <div class="slider-item__about grid">
    <div class="slider-item__about_name">{{this.nameService}}<input type="hidden" class="id" value="{{this._id}}"></div>
        <div class="slider-item__about_type">{{this.typeService.nameTypeService}} <input type="hidden" class="id" value="{{this.typeService._id}}"/></div>
    </div>
  <div class="slider-item__img_wraper">  
 <div class="slider-item__img" style="background-image: url('/uploads/img/services/{{this._id}}.jpg')"></div>
  </div>
</section>